# === Arquivos com Senhas ===
appsettings.Development.json
appsettings.Production.json
.env
appsettings.json

# === .NET ===
bin/
obj/
*.user
*.suo
*.sln.user

# === Front-end ===
node_modules/
dist/
*.log

# === Outros ===
.vscode/
.vs/
.DS_Store
*.bak
*.sql